{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

  <div class="grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true}'>
    <div class="grid-sizer"></div> 
    <div class="grid-item"><img src="https://cdn.shopify.com/s/files/1/0846/8335/8473/files/Humbert_PoyetlancierenihreersteMobelkollektion.jpg?v=1743530488" width="600" height="800" alt="Product1">
    <div class="overlay">Your Text Here</div>
    </div>
    <div class="grid-item"><img src="https://cdn.shopify.com/s/files/1/0846/8335/8473/files/person-browsing-books-in-an-outdoor-library.jpg?v=1735907392" width="600" height="400" alt="Product2"></div>
    <div class="grid-item"><img src="https://cdn.shopify.com/s/files/1/0846/8335/8473/files/Furniture_gif_-_Fond_blanc.gif?v=1743321426" width="600" height="400" alt="Product3"></div>
</div>

<style>
  .grid-item {
  width: 30%;
  margin-bottom: 10px;
  margin: 20px;
}
.grid-item img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}
</style>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
