{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

<div class="grid" data-masonry='{"itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true}'>
  <div class="grid-sizer"></div>

  <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
    <video src="https://res.cloudinary.com/dkscd8svu/video/upload/v1743691321/4231455-hd_1920_1080_25fps_qml2wc.mp4" loop muted playsinline></video>
    <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Welcome to 𝕏, the group chat of Earth</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1909480041232449635?ref_src=twsrc%5Etfw">April 8, 2025</a></blockquote>
  </div>

  <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
    <video src="https://res.cloudinary.com/dkscd8svu/video/upload/v1743691197/3770034-hd_1920_1080_25fps_v2pbva.mp4" loop muted playsinline></video>
  </div>

  <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
    <video src="https://res.cloudinary.com/dkscd8svu/video/upload/v1743682048/furnifit_edited_1_xjulyy.mp4" loop muted playsinline></video>
  </div>

  <div class="grid-item" data-aos="fade-up" data-aos-duration="1000">
    <video src="https://res.cloudinary.com/dkscd8svu/video/upload/v1744094545/4065218-uhd_4096_2160_25fps_jq1t1x.mp4" loop muted playsinline></video>
  </div>
</div>

<style>
  body {
    min-height: 100vh; /* Минимальная высота страницы */
    display: flex;
    flex-direction: column;
  }

  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    flex-grow: 1; /* Позволяет растягивать сетку на оставшуюся часть экрана */
  }

  .grid-item {
    width: 450px;
    height: 640px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Скрывает контент, выходящий за пределы контейнера */
    display: flex;
    flex-direction: column;
  }

  .grid-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }

  .grid-item blockquote {
    margin-top: 15px;
    margin-bottom: 10px;
    flex-grow: 1; /* Это заставит твит занимать остаточное пространство */
    overflow: hidden; /* Скрывает текст, если он выходит за пределы */
  }

  /* Чтобы обеспечить нормальное поведение для всего содержимого */
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script>
AOS.init({
  offset: 200,
  delay: 0,
  duration: 1000,
  easing: 'ease-out',
  once: true,
});

document.querySelectorAll('.grid-item video').forEach(video => {
  video.addEventListener('mouseenter', () => {
    video.play();
  });
  
  video.addEventListener('mouseleave', () => {
    video.pause();
    video.currentTime = 0;
    video.style.transform = 'perspective(500px) rotateX(0deg) rotateY(0deg)';
  });

  video.addEventListener('mousemove', (e) => {
    const videoRect = video.getBoundingClientRect();
    const videoCenterX = videoRect.left + videoRect.width / 2;
    const videoCenterY = videoRect.top + videoRect.height / 2;
    
    const offsetX = (e.clientX - videoCenterX) / videoRect.width;
    const offsetY = (e.clientY - videoCenterY) / videoRect.height;
    
    const rotateX = offsetY * 5;  
    const rotateY = -offsetX * 5; 

    video.style.transform = `perspective(500px) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
  });
});
</script>



{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
